*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://images-ext-1.discordapp.net/external/zoopEOiWJvegSWBLF14BZCLX5r5-QaBA8LDWjJMhEfQ/%3Fauto%3Dcompress%26cs%3Dtinysrgb%26dpr%3D3%26h%3D750%26w%3D1260/https/images.pexels.com/photos/339119/pexels-photo-339119.jpeg?width=1175&height=661");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}


.container{
    position: relative;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 6px;
    overflow: hidden;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

.container .calculatrice{
    position: relative;
    display: grid;
}

.container .calculatrice .afficheur{
    grid-column: span 4;
    height: 140px;
    width: 300px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 30px;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.container .calculatrice span{
    display: grid;
    place-items: center;
    width: 75px;
    height: 75px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.5s;
}

.container .calculatrice span:hover{
    transition: 0s;
    background-color: rgba(255, 255, 255, 0.1);
}

.container .calculatrice span:active{
    background: #bfa3b87e;
    color: #0B4B7A;
    font-size: 24px;
    font-weight: 700;
}

.container .calculatrice .plus{
    grid-row: span 2;
    height: 150px;
}

.container .calculatrice .egale{
    grid-row: span 2;
    height: 150px;
}

.container .calculatrice .zero{
    grid-column: span 2;
    width: 150px;
}

