.header{
    background: #80C683;
  }
  .header p{
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 16px;
    margin: 0;
    font-weight: 700;
  }
  span{
    color: #fff;
    padding: 16px;
  }
  .padding-reset{
    padding-left: 0;
    padding-right: 0;
  }
  .teaxtbox input{
    width: 100%;
    border: 1px solid #f1f1f1;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
  }

  .commonbutton input{
    padding: 8px;
    background: #f2f2f2;
    border: none;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
  }
  .conflict input{
    padding: 8px;
    background: #f2f2f2;
    border: none;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
  }

  